.WeatherDailyForecast {
  text-align: center;
}

.WeatherDailyForecast-day {
  padding-left: 20px;
  margin: 10px;
}
.WeatherDailyForecast-max {
  padding-left: 25px;
}
.WeatherDailyForecast-min {
  opacity: 0.8;
}
